<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <app-title [title]="title"></app-title>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                class="glyphicon glyphicon-th-list icon text-primary-lter"></i> Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu2"><i
                class="glyphicon glyphicon-edit icon text-success-lter"></i> Thêm/Cập nhật</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      <a data-toggle="collapse" href="#search"><u>Điều kiện lọc</u></a>
                    </div>
                    <div id="search" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <form class="bs-example form-horizontal">
                          <div class="row">
                            <div class="col-md-2">
                              <div class="radio" *ngFor="let rd of range_date">
                                <label class="i-checks">
                                  <input type="radio" name="range_date" [value]="rd.value"
                                         (change)="filtering.range = rd.value">
                                  <i></i>
                                  {{rd.name}}
                                </label>
                              </div>
                            </div>
                            <div class="col-md-10">
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Từ</label>
                                  <datetime [ngModel]="datepicker_from" name="datepicker_from"
                                            (dateChange)="clearDate($event, 'from')"
                                            (ngModelChange)="handleDateFromChange($event)" [timepicker]="false"
                                            [datepicker]="datepickerSettings"></datetime>
                                </div>
                                <div class="col-md-3">
                                  <label>Đến</label>
                                  <datetime [(ngModel)]="datepicker_to" name="datepicker_to"
                                            (dateChange)="clearDate($event, 'to')"
                                            [timepicker]="false"
                                            [datepicker]="datepickerToOpts"></datetime>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-3">
                                  <label>Tên</label>
                                  <xautocomplete [(value)]="filtering.customer_id"
                                                 [data]="customers_search"
                                                 [name]="'fullname'">
                                  </xautocomplete>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <button class="btn m-b-xs w-xs btn-info btn-rounded"
                                      type="button"
                                      (click)="search()">Tìm kiếm
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Danh sách {{title}}
                    </div>
                    <div class="panel-body">
                      <spinner-fb [isLoading]="isLoading"></spinner-fb>
                      <xdatatable [body]="customers" [header]="header"
                                  (onClicked)="actionCrud($event)"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Thêm/Cập nhật {{title}}</div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Tên</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.fullname" name="fullname">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Phần trăm thay đổi cước phí</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.limit_oil" name="limit_oil">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Phằn trăm nhiên liệu/cước phí</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.oil_per_postage" name="oil_per_postage">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <label>Giá dầu và ngày áp dụng</label>
                                <select [(ngModel)]="fuel_customer.fuel_id" name="fuel_id" class="form-control m-b">
                                  <option *ngFor="let oil of oils" value="{{ oil.id }}">
                                    {{ oil.fc_price + ' - ' + oil.fd_apply_date}}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <label>Ngày kết thúc</label>
                              <datetime [(ngModel)]="finish_date" name="finish_date"
                                        [timepicker]="false"
                                        [datepicker]="datepickerSettings">
                              </datetime>
                            </div>
                            <div class="col-sm-6">
                              <label>Giờ kết thúc</label>
                              <datetime [(ngModel)]="finish_time" name="finish_time"
                                        [timepicker]="timepickerSettings"
                                        [datepicker]="false">
                              </datetime>
                            </div>
                            <strong>Chú ý:</strong>
                            <ul>
                              <li><em>Đây là thời hạn hợp đồng.</em></li>
                              <li><em>Nếu giá dầu thay đổi sau thời gian này, sẽ không tạo cước phí mới.</em></li>
                            </ul>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Loại</label>
                              <div class="col-lg-10">
                                <select [(ngModel)]="customer.customer_type_id"
                                        name="sup_id" class="form-control m-b">
                                  <option *ngFor="let customer_type of customer_types"
                                          value="{{ customer_type.id }}">
                                    {{ customer_type.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Mã số thuế</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.tax_code" name="tax_code">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Địa chỉ</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.address" name="address">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Email</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.email" name="email">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Số điện thoại</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="customer.phone" name="phone">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Ghi chú</label>
                              <div class="col-lg-10">
                                <textarea [(ngModel)]="customer.note" name="note" cols="30" rows="3"
                                          class="form-control"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-primary btn-rounded"
                                        (click)="addOne()">Thêm
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-warning btn-rounded"
                                        (click)="updateOne()">Cập nhật
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="displayEditBtn(false)"><i
                                    class="fa fa-ban"></i>Hủy
                                </button>
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="clearOne()"><i
                                    class="fa fa-eraser"></i>Làm mới
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <modal [objectData]="modal" (onClicked)="confirmDeactivateOne($event)"></modal>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->



